* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.sampul-img{
    background-color: rgb(220, 255, 225);
    padding: 10px;
    margin: 10px auto;
    width: 100%;
}

/* keunggulan */
.keunggulan{
    padding: 20px;
    width: 350px;
    margin: 10px auto;
    background-color: #ffffff;
    box-shadow: 0px 8px 16px 0px rgba(255, 255, 255, 0.2);
}
#judul1{
    text-align: center;
    font-size: 24px;
    font-family: 'Helvetica', sans-serif;
    color: rgb(71, 141, 0);
}

#pic{
    width: 90%;
    margin: 0px auto;
}

#isi{
    text-align: left;
    color: rgb(123, 160, 137);
    font-size: 16px;
    font-family: 'Helvetica', sans-serif;
}

.form{
    border-radius: 20px;
    width: 50%;
    margin: 10px auto;
}

/* product */
.judul2{
    color: rgb(65, 65, 65);
    text-align: center;
    padding: 20px;
    font-size: 28px;
    font-family: 'Helvetica', sans-serif;
    background-color: rgb(164, 243, 190);
    text-transform: uppercase;
    box-shadow: 0px 2px 16px 0px rgba(0,0,0,0.2);
}

#img-product{
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 50%;
}

.product{
    display: inline-block;
    width: 20%;
}

#isi-pro{
    font-size: 16x;
    font-family: 'Helvetica', sans-serif;
    display: inline-block;
    margin: 2px 5px;
}

#nama-product{
    margin: 20px ;
    font-size: 28px;
    font-family: 'Helvetica', sans-serif;
}
#pic2{
    height: 200px;
}

/* OUR PRODUCT */

section.Menu-Bar{
    background-color: rgb(255, 255, 255);
    position: relative;
    display: block;
    width:50% ;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

#JHI{
    background-color: #fff;
    width: 30%;
    height: 300px;
    border-style: none;
    box-shadow: 0px 2px 16px 0px rgba(0,0,0,0.2);
    padding: 30px;
}

#JBS{
    background-color: rgb(215, 255, 213);
    width: 30%;
    height: 300px;
    border-style: none;
    padding: 30px;
    
}
#JH{
    background-color:  rgb(215, 255, 213);
    width: 30%;
    height: 300px;
    border-style: none;
    padding: 30px;
    
}
#JA{
    background-color: rgb(255, 255, 255);
    width: 30%;
    height: 300px;
    border-style: none;
    box-shadow: 0px 2px 16px 0px rgba(0,0,0,0.2);
    padding: 30px;
}
#AD{
    background-color: rgb(255, 255, 255);
    width: 30%;
    height: 300px;
    border-style: none;
    box-shadow: 0px 2px 16px 0px rgba(0,0,0,0.2);
    padding: 30px;
}
#app{
    background-color:  rgb(215, 255, 213);
    width: 30%;
    height: 300px;
    border-style: none;
    padding: 30px;
}


h1{
    font-family: 'Helvetica', sans-serif;
    font-size: 20px;
    color: #333;
    font-weight: 600;
    text-align: left;
    padding-left: 20px;
    text-transform: uppercase;

}

p{
    font-family: 'Helvetica', sans-serif;
    font-size: 14px;
    color: rgb(100, 100, 100);
    font-weight: 600;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;

}

h1#JL {
    font-family: 'Helvetica', sans-serif;
    font-size: 30px;
    color: rgb(11, 145, 40);
    font-weight: 600;
    text-align: left;
    padding-left: 20px;
    text-transform: uppercase;
}

.selimut{
    padding: 1px;
    width: 100%;
}

/* testimoni */
.testi2{
  display: none;
  background-color: rgb(203, 255, 210);
}
.testi{
  margin: 10px auto;
  width: 80%;
  box-shadow: 0px 2px 16px 0px rgba(0,0,0,0.2);
}

#img-testi{
  display: block;
  margin: 10px auto;
  padding: 10px;
  width: 80%;
}
#isi-testi{
  font-size: 12x;
  text-align: justify;
  font-family: 'Helvetica', sans-serif;
  display: inline-block;
  margin: 2px 5px;
}

#nama-testi{
  display: block;
  margin: 1px ;
  font-size: 28px;
  font-family: 'Helvetica', sans-serif;
  text-align: center;
}

.swiper-container{

  width: 35%;
  height: 700px;
  background-color: rgb(203, 255, 210);
}

.swiper-wrapper{
  align-items: center;
}

.swiper-slide{
  width: 200px;
  height: 200px;
  border-radius: 9px;
}

.swiper-slide table{
  padding: 5px;
  margin-top: 100px;
  width: 250px;
  height: 250px;
  border-radius: 9px;
  box-shadow: 0px 2px 16px 0px rgba(201, 201, 201, 0.2);
  background-color: rgb(255, 255, 255);
}

.swiper-slide-active{
  transform: scale(1.3);
  transition: .4s;
}

h2#judul-testi{
  text-align: center;
  font-size: 28px;
  font-family: 'Helvetica', sans-serif;
}

#footer1{
  padding: 20px;
  font-family: 'Helvetica', sans-serif;
}

#footer1b{
  padding: 20px;
  font-family: 'Helvetica', sans-serif;
}

#footer1b a{
  text-decoration: none;
  color: #333;
}

#footer1b a:hover{
  background-color: rgb(188, 255, 218);
}

#footer1a{
  padding: 20px;
  font-family: 'Helvetica', sans-serif;
  padding-bottom: 80px;
}

.footer1{
  background-color: rgb(241, 241, 241);
}

.judul-k{
  margin-top: 70px;
  text-align: center;
}